@page "/"
@inherits EmployeeListBase

<h3>Selected Employees  Count - @SelectedEmployeesCount</h3>

<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            //Chain DisplayEmployee component by using it as an HTML tag
            // which has 2 parameters. So we must pass them here.
            // Employee already exists in EmployeeListBase (parent) component, so we
            // had to add public bool ShowFooter to EmployeeListBase parent component.
            <DisplayEmployee Employee="employee" 
                             OnEmployeeSelection="EmployeeSelectionChanged"
                             ShowFooter="ShowFooter"></DisplayEmployee>

        }
    </div>
}

@*@page "/"
    @inherits EmployeeListBase

    <h3>Employee List</h3>

    <input type="checkbox" id="showFooter" @bind="ShowFooter" />
    <label for="showFooter">Show Footer</label>

    @if (Employees == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="card-deck">
            @foreach (var employee in Employees)
            {
                <DisplayEmployee Employee="employee" ShowFooter="ShowFooter">
                </DisplayEmployee>
            }
        </div>
    }*@